@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Book Garage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

  
    <div class="container" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="card-header" style="font-weight:bold">Alışveriş Sepeti</h2>
                    
                </div>
                <div class="container"style="width:1000px;height:600px"  >
                    <p>Sepet boş</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Sepeti Onayla</button>
                    
                </div>
            </div>
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
